body {font-family: "Lato", sans-serif}
.mySlides {display: none}

.custom-square {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff; 
  border: 1px solid #000; 
  transition: background-color 0.3s; 
  color: #000;
  text-decoration: none; 
}

.custom-square:hover {
  background-color: #000; 
  color: #fff;
}

a {
  text-decoration: none;
}