header {
    background-color: #333;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.logo {
    flex: 1;
    text-align: left;
}

.menu {
    flex: 1;
    text-align: center;
}

.menu nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.social {
    flex: 1;
    text-align: right;
    color: #00ff00;
}

.social p {
    margin: 0;
    font-size: 16px;
}
