.button {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
}

#jogarButton.ativo {
    background-color: #54575f;
}

#ataqueButton.ativo {
    background-color: #54575f;
}

#defesaButton.ativo {
    background-color: #54575f;
}

#recolherButton.ativo {
    background-color: #54575f;
}

button:hover {
    background-color: #54575f;
}

button[sair]:hover {
    background-color: red;
}

.centralizando{
    display: flex;
    justify-content: left;
    align-items: left;
    height: 7vh;
}

.linha-fina {
    width: 100%; /* Ajusta a largura da linha conforme necess치rio */
    border-bottom: 1px solid #ccc;
    margin-top: 1px;
    border: 1px solid rgb(140, 140, 140);
}

.criatura-label {
    display: block; /* Cada label em uma nova linha */
    margin-bottom: 5px; /* Adapte conforme necess痙io para o espa網mento desejado */
}

.info_sessao{
    gap: 2px;
    width: 500px; /* (50px * 8) + (2px * 8) */
    margin: -730px -460px 2px 2px; /* Adicione uma pequena margem para separar as bordas dos elementos */
    position: fixed;
    right: 130px; /* Ajuste a dist칙ncia  direita conforme necess치rio */
    top: -40;
}

#scrollingContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 100px; /* Ajuste conforme necess치rio para a altura desejada */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando o conte칰do ultrapassa a altura m치xima */
    border: 1px solid rgb(78, 78, 78); /* Adiciona uma borda para melhor visualiza칞칚o */
    padding: 10px; /* Adiciona algum espa칞o interno para o conte칰do n칚o encostar nas bordas */
    background-color: #fffff7; /* Adicione uma cor de fundo, se desejar */
}

/* Estilo para as mensagens dentro da div */
#scrollingContainer div {
    margin-bottom: 2px; /* Adiciona um espa칞amento entre as mensagens, ajuste conforme necess치rio */
    font-size: 12px;
}

.mochila {
    flex: 1;
    padding: 50px;
    float: right;
    width: 2%;
    position: fixed;
    bottom: 0;
    right: 0;
}

.iconMochila{
    padding: 10px;
    float: right;
    width: 10%; /* Alterado para 100% */
    height: 100px; /* Altura definida como 190 pixels */
    position: fixed;
    bottom: 0;
    right: 0;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
}

.close {
    position: absolute;
    top: 10px;
    right: 40px;
    cursor: pointer;
    font-size: 60px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-height: 400px; /* Defina a altura m치xima desejada para a barra de rolagem */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando o conte칰do ultrapassa a altura m치xima */
    border: 1px solid #ccc; /* Adiciona uma borda para melhor visualiza칞칚o */
    padding: 10px;
}

.image-container {
    margin: 5px;
    text-align: center;
}

.resized-image {
    width: 100px; /* Ajuste o tamanho conforme necess치rio */
    height: auto; /* Isso garante que a propor칞칚o seja mantida */
}

.not-found {
    color: red;
    text-align: center;
}

hr {
    border: none;
    height: 2px;
    background-color: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin: 20px 0;
}

.red-background {
display: inline;
background-color: red;
color: black;
padding: 5px;
}

.espacamento{
    margin-right: 50px;
}

body {font-family: "Lato", sans-serif}

.quadro {
    float: left;
    width: 50%; /* Ajuste conforme necess涌rio */
}
