button {
    padding: 10px 20px;
    background-color: #191970;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.scrolling-container {
    max-height: 400px; /* Defina a altura máxima desejada para a barra de rolagem */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando o conteúdo ultrapassa a altura máxima */
    border: 1px solid #ccc; /* Adiciona uma borda para melhor visualização */
    padding: 10px; /* Adiciona algum espaço interno para o conteúdo não encostar nas bordas */
}

hr {
    border: none;
    height: 2px;
    background-color: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin: 20px 0;
}

button:hover {
    background-color: #4169E1;
}

.red-background {
display: inline;
background-color: red;
color: black;
padding: 5px;
}

body {font-family: "Lato", sans-serif}
.mySlides {display: none}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.floating-button:hover {
    background-color: #218838; 
}

.secao {
    margin-bottom: 20px;
    overflow: hidden; /* Limpa o float */
}

.quadro {
    float: left;
    width: 50%; /* Ajuste conforme necess�rio */
}