.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
}

#jogarButton.ativo {
    background-color: #54575f;
}

#ataqueButton.ativo {
    background-color: #54575f;
}

#defesaButton.ativo {
    background-color: #54575f;
}

#recolherButton.ativo {
    background-color: #54575f;
}

button:hover {
    background-color: #54575f;
}

button[sair]:hover {
    background-color: red;
}

.centralizando{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
}

.linha-fina {
    width: 100%; /* Ajusta a largura da linha conforme necessário */
    border-bottom: 1px solid #ccc;
    margin-top: 1px;
    border: 1px solid rgb(140, 140, 140);
}

#scrollingContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 200px; /* Ajuste conforme necessário para a altura desejada */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando o conteúdo ultrapassa a altura máxima */
    border: 1px solid rgb(78, 78, 78); /* Adiciona uma borda para melhor visualização */
    padding: 10px; /* Adiciona algum espaço interno para o conteúdo não encostar nas bordas */
    background-color: #fffff7; /* Adicione uma cor de fundo, se desejar */
}

/* Estilo para as mensagens dentro da div */
#scrollingContainer div {
    margin-bottom: 10px; /* Adiciona um espaçamento entre as mensagens, ajuste conforme necessário */
}

.mochila {
    flex: 1;
    padding: 50px;
    float: right;
    width: 2%;
    position: fixed;
    bottom: 0;
    right: 0;
}

.iconMochila{
    padding: 10px;
    float: right;
    width: 15%; /* Alterado para 100% */
    height: 200px; /* Altura definida como 190 pixels */
    position: fixed;
    bottom: 0;
    right: 0;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
}

.close {
    position: absolute;
    top: 10px;
    right: 40px;
    cursor: pointer;
    font-size: 60px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-height: 400px; /* Defina a altura máxima desejada para a barra de rolagem */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando o conteúdo ultrapassa a altura máxima */
    border: 1px solid #ccc; /* Adiciona uma borda para melhor visualização */
    padding: 10px;
}

.image-container {
    margin: 5px;
    text-align: center;
}

.resized-image {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Isso garante que a proporção seja mantida */
}

.not-found {
    color: red;
    text-align: center;
}

hr {
    border: none;
    height: 2px;
    background-color: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin: 20px 0;
}

.red-background {
display: inline;
background-color: red;
color: black;
padding: 5px;
}

.espacamento{
    margin-right: 50px;
}

body {font-family: "Lato", sans-serif}

.quadro {
    float: left;
    width: 50%; /* Ajuste conforme necess�rio */
}
