.corpo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(9, 48px);
    grid-template-rows: repeat(9, 48px);
    gap: 2px;
    width: 500px; /* (50px * 8) + (2px * 8) */
    margin: -300px 2px 2px 2px; /* Adicione uma pequena margem para separar as bordas dos elementos */
    position: fixed;
    right: 130px; /* Ajuste a distância à direita conforme necessário */
    top: -40;
}

.grid-item {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    box-sizing: border-box;
}

.player {
    width: 50px;
    height: 50px;
    background-color: red;
    cursor: pointer;
  }

.playertwo {
  width: 50px;
  height: 50px;
  background-color: rgb(195, 0, 255);
  cursor: pointer;
}

.portal {
    width: 50px;
    height: 50px;
    background-color: yellow;
    cursor: pointer;
}

  .valid-move {
    background-color: green;
  }

.black {
    background-color: #979595;
}
